    /*colors
1-#FF2568
2- #D72258
3-
4-
5-
*/
    
    body {
        color: #2C3E50;
        font-family: Ebrima;
    }
    /* home style */
    /*start navbar */
    
    .navbar-expand-lg {
        background-color: #FFFFFF !important;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 15px;
        padding-right: 15px
    }
    
    .navbar-expand-lg .navbar-brand img {
        width: 130px;
    }
    
    .navbar-expand-lg .nav-item .nav-link {
        text-align: center;
    }
    
    .navbar-expand-lg .nav-item .nav-link .parallelogram-active {
        position: absolute;
        width: 100.95px;
        height: 44.08px;
        transform: skew(20deg);
        background-color: #FF2568;
        box-shadow: 1px 1px 1px 1px #DDD;
        margin-top: 23px;
    }
    
    .navbar-expand-lg .nav-item .nav-link .parallelogram {
        position: absolute;
        width: 100.95px;
        height: 44.08px;
        margin-top: 23px;
        transform: skew(20deg);
        background-color: #FFFFFF;
        box-shadow: 1px 1px 1px 1px #DDD;
    }
    
    .navbar-expand-lg .nav-item .txt {
        font-style: oblique;
        font-family: Hacen Promoter;
        margin-top: 32px;
        position: relative;
        margin-left: 97px;
    }
    /*start silder */
    
    .slider img {
        width: 100%;
        height: 500px;
    }
    
    .slider .overlay {
        position: absolute;
        top: 170px;
    }
    
    .slider .overlay .title {
        font-size: 40px;
        font-weight: 900;
        font-family: Cooper;
    }
    
    .slider .overlay .txt-overlay {
        font-size: 20px;
        top: 160px;
        position: absolute;
        margin-left: 71px;
    }
    /*start home card */
    
    .card_project {
        margin-top: -67px;
    }
    
    .card_project .card {
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 2.5px 2.5px #ddd;
        margin-bottom: 20px;
        width: 300px;
        height: 200px;
        margin-left: -12px;
    }
    
    .card_project .card .card-body img {
        width: 300px;
        height: 200px;
        margin-right: 12px;
        margin-top: -10px;
    }
    /*===========================================================================================*/
    /*start about page */
    /*start slider-about */
    
    .slider-about {
        background-color: #ffffeb;
    }
    
    .slider-about img {
        width: 41%;
        height: 500px;
    }
    
    .slider-about .overlay {
        position: absolute;
        top: 170px;
    }
    
    .slider-about .overlay .title {
        font-size: 40px;
        font-weight: 900;
        font-family: Cooper;
    }
    
    .slider-about .overlay .txt-overlay {
        font-size: 20px;
        top: 160px;
        position: absolute;
        margin-left: 71px;
    }
    /* end slider-about */
    /*start card-info */
    
    .card_about .card_info {
        margin-top: 5px;
    }
    
    .card_about .card_info .title {
        font-weight: bold;
        font-family: Cooper;
    }
    
    .card_about .card_info .card {
        border: 0px;
        box-shadow: 1px 1px 1px 1px #f5f5e3;
        background-color: #ffffeb;
        border-radius: 20px;
    }
    
    .card_about .card_info .card .card-body {
        text-align: end;
        font-style: normal;
        font-size: 19px;
        font-family: Hacen Liner XXL;
        padding-left: 23px;
        line-height: 48px;
    }
    
    .card_about .card_info .card .btn-primary {
        width: 101px;
        background-color: #2C3E50 !important;
        border-radius: 0px 20px 0px 20px;
        color: #ffffff;
    }
    
    .card_about .card_img .card {
        border: 0px;
    }
    
    .card_about .card_img .card .card-body img {
        width: 343px;
        height: 245px;
        margin-top: 193px;
        margin-left: 28px;
    }
    
    .card_about .card_img2 .card {
        border: 0px;
    }
    
    .card_about .card_img2 .card .card-body img {
        width: 500px;
        margin-top: -21px;
        height: 312px;
        margin-left: 0px;
    }
    
    .card_about .card_img2 .card .card-body .img2 img {
        width: 297px;
        height: 320px;
        margin-top: -16px;
        margin-left: 146px;
    }
    
    .card_about .code_info .card-about-code img {
        width: 619px;
        margin-top: -70px;
        height: 560px;
        margin-left: -45px;
    }
    
    .card_about .code_info .card {
        margin-top: -418px;
        width: 405px;
        padding-left: 18px;
        padding-right: 18px;
        text-align: end;
        border: 0px;
        margin-left: 120px;
        background-color: #ffffeb;
        margin-left: 60px;
    }
    
    .card_about .code_info .card h1 {
        text-align: center;
        font-family: Cooper;
        font-weight: bold;
    }
    
    .card_about .code_info .card .card-body {
        font-size: 19px;
        font-family: Hacen Liner XXL;
        line-height: 26.4px;
        float: right;
    }
    
    .card_about .code_info .logo img {
        margin-top: 54px;
        width: 519px;
        margin-left: -47px;
    }
    /* footer about  start */
    
    .footer {
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    
    .footer-card {
        margin-top: 40px;
    }
    
    .footer-card .card {
        border: 0px;
    }
    
    .footer-card .card .logo-img img {
        width: 100%;
        margin-top: 145px;
        padding: 15px;
    }
    
    .footer-card .info-card {
        width: 510px;
        margin-right: 72px;
        float: right;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 15px;
        margin-top: 10px;
        border-radius: 27px;
    }
    
    .footer-card .info-card .tem-img img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        float: right;
        margin: 5px;
        padding: 5px;
    }
    
    .footer-card .info-card .tem-name {
        float: right;
        font-weight: bold;
        font-size: 28px;
        margin-right: 23px;
        margin: 15px;
        font-family: Hacen Promoter;
    }
    
    .footer-card .info-card .tem-name span {
        float: right;
        font-weight: bolder;
        font-size: 28px;
        font-family: Hacen Promoter;
    }
    /*=================================================================================================*/
    /* our services */
    /* silder our */
    
    .slider-our img {
        width: 100%;
        height: 500px;
    }
    
    .slider-our .overlay {
        position: absolute;
        top: 170px;
    }
    
    .slider-our .overlay .title {
        font-size: 40px;
        font-weight: 900;
        font-family: Cooper;
    }
    
    .slider-our .img-our img {
        height: 20%;
        width: 10%;
        margin-left: 72px;
    }
    
    .slider-our .img-our p {
        margin-top: -115px;
        margin-left: 132px;
    }
    
    .slider-our .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 32px;
        top: 120px;
        position: absolute;
        color: #2C3E50;
        margin-left: 130px;
        font-style: inherit;
        font-weight: initial;
    }
    /* end silder */
    /*start card our */
    
    .card-our {
        margin: 2% auto;
        border: 0px;
    }
    
    .card-our .card-body p {
        font-weight: bold;
        font-family: Cooper;
        font-size: 40px;
        color: #2C3E50;
    }
    
    .list-group-item {
        position: relative;
        display: block;
        padding: 0.2rem 0.14rem;
        background-color: #fff0;
        border: 0px;
        top: 20px;
        margin-bottom: 39px;
    }
    
    .list-group-item .rectangle {
        height: 72px;
        width: 500px;
        background-color: #23C2CA;
        box-shadow: 2px 2px 2px 2px #ddd;
        border-radius: 38px 27px 27px 40px;
    }
    
    .list-group-item .rectangle img {
        border-radius: 50%;
        width: 50px;
        height: 54px;
        float: right;
        margin-right: 10px;
        margin-top: 8px;
    }
    
    .list-group-item .rectangle span {
        margin-top: -21px;
        position: absolute;
        margin-left: 91px;
        color: #000;
        float: left;
        font-family: Cooper;
        font-size: 20px;
        font-family: Cooper;
        font-size: 46px;
    }
    
    .list-group-item .triangle-left {
        width: 0;
        height: 0;
        border-top: 43px solid transparent;
        border-right: 111px solid #1BA5AC;
        border-bottom: 42px solid transparent;
        margin-top: -51px;
        margin-left: -65px;
        border-radius: 46px;
    }
    
    .list-group-item .flag {
        width: 45px;
        height: 81px;
        padding-top: -3px;
        position: relative;
        background: #fff;
        transform: rotate(90deg);
        border: 56px;
        border-radius: 27px 27px 3px 3px;
        margin-top: -84px;
        margin-left: -22px;
    }
    
    .list-group-item .flag p {
        color: #000;
        transform: rotate(270deg);
        font-size: 25px;
        font-weight: bold;
        font-family: unset;
        margin-left: 13px;
        position: absolute;
        margin-right: 4px;
        margin-top: 19px;
    }
    
    .list-group-item .flag:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 32px solid #fff;
        border-left: 23px solid #00000001;
        border-right: 23px solid #00000001;
    }
    
    .list-group-item .rectangle2 {
        height: 72px;
        width: 500px;
        background-color: #FCB606;
        box-shadow: 0px 0px 2px 2px #ddd;
        border-radius: 38px 27px 27px 40px;
        transform: rotate(180deg);
    }
    
    .list-group-item .rectangle2 img {
        border-radius: 50%;
        width: 50px;
        height: 54px;
        margin-left: 432px;
        margin-top: 8px;
        transform: rotate(180deg);
    }
    
    .list-group-item .rectangle2 span {
        margin-top: -82px;
        position: absolute;
        margin-left: 79px;
        color: #000;
        /* font-family: auto; */
        float: left;
        font-weight: 400px !important;
        font-family: Cooper;
        font-size: 46px;
        transform: rotate(180deg);
    }
    
    .list-group-item .triangle-left2 {
        width: 0;
        height: 0;
        border-top: 43px solid transparent;
        border-right: 111px solid #E8A704;
        border-bottom: 42px solid transparent;
        margin-top: -113px;
        margin-left: -65px;
        border-radius: 46px;
    }
    
    .list-group-item .flag2 {
        width: 45px;
        height: 81px;
        padding-top: -3px;
        position: relative;
        background: #fff;
        transform: rotate(90deg);
        border: 56px;
        border-radius: 27px 27px 3px 3px;
        margin-top: -84px;
        margin-left: -22px;
    }
    
    .list-group-item .flag2 p {
        font-size: 25px;
        color: #B78300;
        ;
        font-weight: bold;
        font-family: unset;
        margin-left: 15px;
        position: absolute;
        margin-right: 4px;
        transform: rotate(89deg);
        margin-top: 19px;
    }
    
    .list-group-item .flag2:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 32px solid #fff;
        border-left: 23px solid #00000001;
        border-right: 23px solid #00000001;
    }
    /*====================================================================================*/
    /*start contact */
    
    .slider-contact img {
        width: 100%;
        height: 500px;
    }
    
    .slider-contact .overlay {
        position: absolute;
        top: 170px;
    }
    
    .slider-contact .overlay .title {
        font-size: 40px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
    }
    
    .slider-contact .img-our img {
        height: 20%;
        width: 10%;
        margin-left: 72px;
    }
    
    .slider-contact .img-our p {
        margin-top: -115px;
        margin-left: 132px;
    }
    
    .slider-contact .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 29px;
        top: 128px;
        position: absolute;
        font-style: inherit;
        font-weight: initial;
    }
    
    .slider-contact .overlay .contact-icon ul {
        list-style: none;
        display: flex;
        margin-top: 70px;
        margin-left: 36px;
    }
    
    .slider-contact .overlay .contact-icon li {
        height: 50px;
        width: 50px;
        background-color: #31859C;
        border-radius: 50%;
        margin-left: 10px;
    }
    
    .slider-contact .overlay .contact-icon .icons {
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
    
    .slider-contact .overlay .contact-icon .icons i {
        font-size: 1.5rem;
        color: #fff;
    }
    
    .contact {
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-top: -63px;
        border-radius: 45px;
        background-color: #fff;
        position: relative;
        margin-bottom: 23px;
    }
    
    .contact-inf .inf {
        margin-left: 71px;
        margin-top: 60px;
        margin-bottom: 5px;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 10px;
        width: 390px;
    }
    
    .contact-inf h1 {
        font-weight: bold;
        font-family: Cooper;
    }
    
    .contact-inf .inf img {
        width: 74px;
        float: left;
        margin-top: -23px;
        margin-left: -24px;
    }
    
    .contact .contac-img .img img {
        position: absolute;
        position: absolute;
        margin-top: 133px;
        float: right;
        margin-left: -449px;
    }
    
    .contact .contac-img .back-img img {
        width: 100%;
        height: 100%;
        border-radius: 47px;
    }
    /*========================================================================================*/
    /*start prgram page */
    
    .slider-program img {
        width: 100%;
        height: 500px;
    }
    
    .slider-program .overlay {
        position: absolute;
        top: 170px;
    }
    
    .slider-program .overlay .title {
        font-size: 40px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
    }
    
    .slider-program .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 29px;
        top: 135px;
        position: absolute;
        font-style: inherit;
        font-weight: initial;
    }
    
    .program-title {
        text-align: center;
        font-family: Cooper;
        font-weight: bold;
    }
    
    .card-program {
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-top: 30px;
        border-radius: 12px;
        margin-bottom: 20px;
        height: 306px;
    }
    
    .card-program .card-body img {
        width: 307px;
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-left: -32px;
        background-color: #fff;
        margin-top: -41px;
        border-radius: 20px;
        height: 230px;
    }
    
    .card-program .card-footer {
        border: none;
        background-color: #fff;
        margin-bottom: 20px;
    }
    
    .card-program .card-footer .btn-primary {
        width: 317px;
        padding: 11px;
        border-radius: 0px 22px 0px 18px;
        margin-left: -31px;
        background-color: #2C3E50;
    }
    /*==================================================================================================*/
    /* start courese */
    
    .slider .carousel-item {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .slider .carousel-indicators li {
        height: 8px;
        cursor: pointer;
        background-color: #2C3E50;
        color: #B78300;
    }
    
    .slider-courese .overlay .txt-overlay {
        font-size: 20px;
        top: 129px;
        position: absolute;
        margin-left: 71px;
    }
    
    .slider-courese .carousel-two .overlay {
        margin-left: 100px;
        padding-left: 100px;
    }
    
    .slider-courese .carousel-two .overlay .txt-overlay {
        margin-left: 12px;
    }
    
    .slider-courese .carousel-three .overlay {
        margin-left: 100px;
        padding-left: 100px;
    }
    
    .slider-courese .carousel-three .overlay .txt-overlay {
        margin-left: 12px;
    }
    /*start card courese */
    
    .coureses-title {
        text-align: center;
        font-family: Cooper;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    /*start  card data style */
    
    .courese-data {
        background-color: #5585ff75;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /*start courese-Data-Science */
    
    .courese-Data-Science {
        background-color: #ff256875;
    }
    
    .courese-Data-Science p {
        margin-top: -55px !important;
    }
    /*end */
    /*start courese-Machine */
    
    .courese-Machine {
        background-color: #23C2CA;
    }
    
    .courese-Machine .title p {
        margin-top: -57px !important;
    }
    /*end */
    /*start courese-English */
    
    .courese-English {
        background-color: #fcb60680;
    }
    
    .courese-English .title p {
        margin-top: -59px !important;
    }
    /*end */
    /*start courese-Arduino*/
    
    .courese-Arduino {
        background-color: #346a9080;
    }
    
    .courese-Arduino .title p {
        margin-top: -57px !important;
        margin-left: 158px !important;
    }
    /*end */
    /*start courese-Internet*/
    
    .courese-Internet {
        background-color: #ce118980;
    }
    
    .courese-Internet .title p {
        margin-top: -56px !important;
    }
    /*end */
    /*start card courese-sec */
    
    .courese-sec {
        background-color: #fcb60680;
    }
    
    .courese-sec .title p {
        margin-top: -55px !important;
    }
    /* end */
    /*start courese-Embedded card */
    
    .courese-Embedded {
        background-color: #01457475;
    }
    
    .courese-Embedded .title p {
        margin-top: -55px !important;
    }
    /*end */
    
    .courese-body .title img {
        width: 30%;
        margin-left: -22px;
        margin-top: -92px;
    }
    
    .courese-body .title p {
        margin-top: -66px;
        margin-left: 109px;
        font-size: 18px;
        font-family: Cooper;
        font-weight: bold;
    }
    
    .card-courese {
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-top: 79px;
        border-radius: 12px;
        margin-bottom: 20px;
        height: 280px;
        background-color: #fff;
    }
    
    .card-courese .card-body img {
        width: 325px;
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-left: -24px;
        background-color: #fff;
        margin-top: -42px;
        border-radius: 20px;
        height: 230px;
    }
    
    .card-courese .btn-primary {
        border-radius: 0px 22px 0px 14px;
        margin-left: 0px;
        background-color: #2C3E50;
        margin-top: 5px;
    }
    /*start test style */
    
    .card-slider {
        margin: 10% auto;
    }
    
    .card-slider .card-coureses .card-img-top {
        width: 320px;
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-left: 19px;
        background-color: #fff;
        margin-top: 5px;
        border-radius: 20px;
    }
    
    .card-slider .card-coureses {
        box-shadow: 1px 1px 1px 1px #ddd;
        border-radius: 12px;
        background-color: #fff;
    }
    
    .card-slider .data-carousel {
        margin-top: 30px;
        padding-top: 10px;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
    
    .card-slider .data-carousel .prev i {
        margin-right: 163px;
        color: #000;
    }
    
    .card-slider .data-carousel .next i {
        margin-right: -148px;
        color: #000;
    }
    
    .card-slider .card-coureses .btn-warning {
        border-radius: 0px 22px 0px 14px;
        margin-left: 0px;
        background-color: #2C3E50;
        margin-top: 12px;
        height: 48px;
        color: #fff;
        font-size: 20px;
        border-color: #2C3E50;
    }