/*
 @media (min-width: 320px) and (max-width: 480px) {
    
  }
@media (min-width: 481px) and (max-width: 767px) { 
  }
@media (min-width: 768px) and (max-width: 1024px) {
    } 
 @media (min-width: 993px) and (max-width: 1200px){
 }

*/


/* start navbar */

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-expand-lg {
        background-color: #FFFFFF !important;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .navbar-expand-lg .nav-item .nav-link {
        text-align: left;
        margin-left: -52px;
    }
    .navbar-expand-lg .nav-item .txt {
        font-style: inherit;
        margin-top: 0px;
        color: #000;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram-active {
        display: none;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar-expand-lg {
        background-color: #FFFFFF !important;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .navbar-expand-lg .nav-item .nav-link {
        text-align: left;
        margin-left: -52px;
    }
    .navbar-expand-lg .nav-item .txt {
        font-style: inherit;
        margin-top: 0px;
        color: #000;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram-active {
        display: none;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-expand-lg {
        background-color: #FFFFFF !important;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .navbar-expand-lg .nav-item .nav-link {
        text-align: left;
        margin-left: -52px;
    }
    .navbar-expand-lg .nav-item .txt {
        font-style: inherit;
        margin-top: 0px;
        color: #000;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram-active {
        display: none;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram {
        display: none;
    }
}


/*end navbar */


/*============================================================================================*/


/*start home body */

@media (min-width: 320px) and (max-width: 480px) {
    .slider img {
        width: 100%;
        height: 300px;
    }
    .slider .overlay {
        position: absolute;
        top: 300px;
    }
    .slider .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .slider img {
        width: 100%;
        height: 300px;
    }
    .slider .overlay {
        position: absolute;
        top: 300px;
        margin-left: 65px;
        margin-right: 65px;
    }
    .slider .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider .overlay {
        position: absolute;
        top: 200px;
    }
    .slider .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}


/*end navbar */


/*==================================================================================================*/


/*start home card */

@media (min-width: 320px) and (max-width: 480px) {
    .card_project {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
    }
    .card_project .card {
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 2.5px 2.5px #ddd;
        margin-bottom: 20px;
        margin-left: -12px;
        width: 100%;
        height: 250px;
    }
    .card_project .card .card-body img {
        width: 100%;
        height: 230px;
        margin-right: 12px;
        margin-top: -10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card_project {
        margin-top: 10px;
    }
    .card_project .card {
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 2.5px 2.5px #ddd;
        margin-bottom: 20px;
        width: 100%;
        height: 350px;
        margin: 5% auto;
    }
    .card_project .card .card-body img {
        width: 100%;
        height: 350px;
        margin-right: 12px;
        margin-top: -10px;
    }
}


/*========================================================================================*/


/*start about page */


/*start silder */

@media (min-width: 320px) and (max-width: 480px) {
    .slider-about img {
        width: 100%;
        height: 300px;
    }
    .slider-about .overlay {
        position: absolute;
        top: 300px;
    }
    .slider-about .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider-about .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .slider-about img {
        width: 100%;
        height: 300px;
    }
    .slider-about .overlay {
        position: absolute;
        top: 300px;
    }
    .slider-about .overlay .title {
        font-size: 29px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        margin-left: 53px;
        margin-right: 53px;
        text-align: center;
    }
    .slider-about .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 55px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-about .overlay {
        position: absolute;
        top: 140px;
    }
    .slider-about .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider-about .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}


/*start card about */

@media (min-width: 320px) and (max-width: 480px) {
    .card_about {
        margin-top: 221px;
    }
    .card_about .card_info {
        margin-top: 5px;
        padding-left: 10px;
    }
    .card_about .card_info .card {
        border: 0px;
        box-shadow: 1px 1px 1px 1px #f5f5e3;
        background-color: #ffffeb;
        border-radius: 20px;
    }
    .card_about .card_info .card .card-body {
        text-align: end;
        font-style: normal;
        font-size: 19px;
        font-family: Hacen Liner XXL;
        padding-left: 23px;
        line-height: 48px;
    }
    .card_about .card_info .card .btn-primary {
        width: 101px;
        background-color: #2C3E50 !important;
        border-radius: 0px 20px 0px 20px;
        color: #ffffff;
    }
    .card_about .card_img .card {
        border: 0px;
    }
    .card_about .card_img .card .card-body img {
        width: 100%;
        height: 245px;
        margin-top: 32px;
        margin-left: -3px;
    }
    .card_about .card_img2 .card {
        border: 0px;
    }
    .card_about .card_img2 .card .card-body img {
        width: 100%;
    }
    .card_about .card_img2 .card .card-body .img2 img {
        margin-top: 12px;
        margin-left: 0px;
        width: 100%;
        height: 266px;
    }
    .card_about .code_info .card-about-code img {
        width: 117%;
        margin-top: -29px;
        height: 800px;
    }
    .card_about .code_info .card-about-code {
        margin-left: 15px;
        margin-right: 15px;
    }
    .card_about .code_info .card {
        margin-top: -656px;
        width: 202px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: end;
        border: 0px;
        margin-left: 120px;
        background-color: #ffffeb;
        margin-left: 50px;
    }
    .footer-card .info-card {
        width: 90%;
        margin-right: 72px;
        float: right;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 8px;
        margin-top: 19px;
        border-radius: 27px;
        float: right;
        margin-left: 0px;
        position: absolute;
    }
    .card_about .code_info .logo img {
        margin-top: -10px;
        width: 100%;
        margin-left: 0px;
        height: 315px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card_about {
        margin-top: 221px;
    }
    .card_about .card_info {
        margin-top: 5px;
        padding-left: 10px;
    }
    .card_about .card_info .card {
        border: 0px;
        box-shadow: 1px 1px 1px 1px #f5f5e3;
        background-color: #ffffeb;
        border-radius: 20px;
    }
    .card_about .code_info .card .card-body {
        line-height: 41.4px;
    }
    .card_about .card_info .card .card-body {
        text-align: end;
        font-style: normal;
        font-size: 19px;
        font-family: Hacen Liner XXL;
        padding-left: 23px;
        line-height: 48px;
    }
    .card_about .card_info .card .btn-primary {
        width: 101px;
        background-color: #2C3E50 !important;
        border-radius: 0px 20px 0px 20px;
        color: #ffffff;
    }
    .card_about .card_img .card {
        border: 0px;
    }
    .card_about .card_img .card .card-body img {
        width: 100%;
        height: 300px;
        margin-top: 32px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .card_about .card_img2 .card {
        border: 0px;
    }
    .card_about .card_img2 .card .card-body img {
        width: 100%;
    }
    .card_about .card_img2 .card .card-body .img2 img {
        margin-top: 12px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: 300px;
    }
    .card_about .code_info .card-about-code img {
        width: 117%;
        margin-top: -29px;
        height: 800px;
    }
    .card_about .code_info .card-about-code {
        margin-left: 15px;
        margin-right: 15px;
    }
    .card_about .code_info .card {
        margin-top: -656px;
        width: 320px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: end;
        border: 0px;
        margin-left: 120px;
        background-color: #ffffeb;
        margin-left: 50px;
    }
    .footer-card .info-card {
        width: 400px;
        margin-right: 15px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 8px;
        margin-top: 19px;
        border-radius: 27px;
        float: right;
        margin-left: 15px;
        position: absolute;
    }
    .footer-card {
        margin: 50% auto;
    }
    .card_about .code_info .logo img {
        margin-top: -10px;
        width: 380px;
        margin-left: 44px;
        margin-right: 44px;
        height: 315px;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/*=========================================================================================================*/


/*start our services */

@media (min-width: 320px) and (max-width: 480px) {
    .slider-our img {
        width: 100%;
        height: 300px;
    }
    .slider-our .overlay {
        position: absolute;
        top: 300px;
    }
    .slider-our .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider-our .overlay .txt-overlay {
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        top: 100px;
        margin-left: 2px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .slider-our img {
        width: 100%;
        height: 300px;
    }
    .slider-our .overlay {
        position: absolute;
        top: 300px;
    }
    .slider-our .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        text-align: center;
    }
    .slider-our .overlay .txt-overlay {
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        top: 100px;
        margin-left: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-our .overlay {
        position: absolute;
        top: 200px;
    }
    .slider-our .overlay .title {
        font-size: 27px;
        text-align: center;
    }
    .slider-our .overlay .txt-overlay {
        font-size: 19px;
        top: 100px;
        margin-left: 2px;
    }
}


/*start card */

@media (min-width: 320px) and (max-width: 480px) {
    .card-our {
        margin: 50% auto;
        border: 0px;
    }
    .slider-our .img-our img {
        height: 20%;
        width: 10%;
        margin-left: 72px;
        display: none;
    }
    .slider-our .img-our p {
        margin-left: -157px;
        margin-top: 0px;
    }
    .slider-our .overlay .txt-overlay {
        top: 122px;
        margin-left: -18px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card-our {
        margin: 50% auto;
        border: 0px;
    }
    .slider-our .img-our img {
        height: 20%;
        width: 10%;
        margin-left: 72px;
        display: none;
    }
    .slider-our .img-our p {
        margin-left: -157px;
        margin-top: 0px;
    }
    .slider-our .overlay .txt-overlay {
        top: 122px;
        margin-left: -18px;
    }
}


/*=================================================================================================*/


/*=====================================================================================================*/


/* start contact page */

@media (min-width: 320px) and (max-width: 480px) {
    .slider-contact img {
        width: 100%;
        height: 300px;
    }
    .slider-contact .overlay {
        position: absolute;
        top: 300px;
    }
    .slider-contact .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider-contact .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-contact .overlay {
        position: absolute;
        top: 200px;
    }
    .slider-contact .overlay .title {
        text-align: center;
    }
    .slider-contact .overlay .txt-overlay {
        top: 100px;
        margin-left: 2px;
    }
}


/*start card contact */

@media (min-width: 320px) and (max-width: 480px) {
    .contact-inf .inf {
        margin-left: 33px;
        margin-top: 61px;
        margin-bottom: 5px;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 10px;
        width: 280px;
    }
    .contact .contac-img {
        display: none !important;
    }
    .contact {
        margin-top: 246px;
        padding: 2px;
        border-radius: 20px;
    }
    .slider-contact .overlay .contact-icon ul {
        margin-top: 93px;
        margin-left: -8px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .contact-inf .inf {
        margin: 10% auto;
        margin-bottom: 5px;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 10px;
        width: 280px;
    }
    .contact .contac-img {
        display: none !important;
        padding: 2px;
        border-radius: 20px;
    }
    .contact {
        margin-top: 284px;
    }
    .slider-contact .overlay {
        top: 496px;
    }
    .slider-contact .overlay .contact-icon {
        margin: 20% auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contact .contac-img {
        display: none !important;
    }
}


/*==================================================================================*/


/*start program page */

@media (min-width: 320px) and (max-width: 480px) {
    .slider-program img {
        width: 100%;
        height: 300px;
    }
    .slider-program .overlay {
        margin: 40% auto;
        text-align: center;
    }
    .slider-program .overlay .title {
        font-size: 24px;
    }
    .slider-program .overlay .txt-overlay {
        top: 71px;
    }
    .program-title {
        margin-top: 190px;
    }
    .card-program .card-body img {
        width: auto;
        border-radius: 20px;
        height: 230px;
        margin: 0px !important;
        box-shadow: none;
    }
    .card-program .card-footer .btn-primary {
        width: -webkit-fill-available;
        padding: 10px;
        border-radius: 0px 22px 0px 18px;
        margin-left: 0px;
        background-color: #2C3E50;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .slider-program img {
        width: 100%;
        height: 300px;
    }
    .slider-program .overlay {
        text-align: center;
        top: 300px;
        padding-left: 38px;
    }
    .slider-program .overlay .txt-overlay {
        top: 71px;
    }
    .slider-program .overlay .title {
        font-size: 24px;
    }
    .program-title {
        margin-top: 190px;
    }
    .card-program .card-body img {
        width: 20rem;
        border-radius: none;
        height: 230px;
        margin: 0px !important;
        box-shadow: none;
    }
    .card-program .card-footer .btn-primary {
        width: -webkit-fill-available;
        padding: 10px;
        border-radius: 0px 22px 0px 18px;
        margin-left: 0px;
        background-color: #2C3E50;
    }
    .card-program {
        height: 306px;
        margin: 10% auto;
        width: 25rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-program .overlay .title {
        font-size: 24px;
    }
    .program-title {
        margin-top: 10px;
    }
}


/*===========================================================================================*/


/*start coures page */

@media (min-width: 320px) and (max-width: 480px) {
    .slider-courese .carousel-two .overlay {
        margin-left: 0px !important;
        padding-left: 0px;
    }
    .slider-courese .carousel-two .overlay .txt-overlay {
        margin-left: 0px;
    }
    .slider-courese .carousel-three .overlay {
        margin-left: 0px;
        padding-left: 0px;
    }
    .slider-courese .carousel-three .overlay .txt-overlay {
        margin-left: 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .slider-courese .carousel-two .overlay {
        margin-left: 0px !important;
        padding-left: 0px;
    }
    .slider-courese .carousel-two .overlay .txt-overlay {
        margin-left: 0px;
    }
    .slider-courese .carousel-three .overlay {
        margin-left: 0px;
        padding-left: 0px;
    }
    .slider-courese .carousel-three .overlay .txt-overlay {
        margin-left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-courese .carousel-two .overlay {
        margin-left: 0px !important;
        padding-left: 0px;
    }
    .slider-courese .carousel-two .overlay .txt-overlay {
        margin-left: 0px;
    }
    .slider-courese .carousel-three .overlay {
        margin-left: 0px;
        padding-left: 0px;
    }
    .slider-courese .carousel-three .overlay .txt-overlay {
        margin-left: 0px;
    }
}


/*start card courese */

@media (min-width: 320px) and (max-width: 480px) {
    .coureses-title {
        margin-top: 3px;
    }
    .courese-body .title img {
        width: 55%;
        margin-left: 0px;
        margin-top: -47px;
    }
    .courese-body {
        margin-top: 30px;
    }
    .courese-body .title p {
        margin-top: -41px;
        margin-left: 81px;
        font-size: 14px;
    }
    .card-courese .card-body img {
        width: 20rem;
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-left: -21px;
        background-color: #fff;
        margin-top: -43px;
        border-radius: 20px;
    }
    .card-courese {
        width: 20rem;
        margin: 10% auto;
    }
    .courese-body {
        margin-bottom: 30%;
    }
    .courese-sec .title p {
        margin-top: -41px !important;
        margin-left: 73px !important;
    }
    .courese-Embedded .title p {
        margin-left: 74px !important;
        margin-top: -42px !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .coureses-title {
        margin-top: 3px;
    }
    .courese-body .title img {
        width: 55%;
        margin-left: 0px;
        margin-top: -73px;
    }
    .courese-body {
        margin-top: 30px;
    }
    .courese-body .title p {
        margin-top: -51px;
        margin-left: 123px;
        font-size: 14px;
    }
    .card-courese .card-body img {
        width: 20rem;
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-left: -21px;
        background-color: #fff;
        margin-top: -43px;
        border-radius: 20px;
    }
    .card-courese {
        width: 20rem;
        margin: 10% auto;
    }
    .courese-body {
        margin-bottom: 30%;
    }
    .courese-sec .title p {
        margin-top: -41px !important;
        margin-left: 104px !important;
    }
    .courese-Embedded .title p {
        margin-left: 97px !important;
        margin-top: -42px !important;
    }
    .courese-Arduino .title p {
        margin-left: 153px !important;
        margin-top: -46px !important;
    }
    .courese-Data-Science .title p {
        margin-left: 140px !important;
        margin-top: -43px !important;
    }
    .courese-Machine .title p {
        margin-left: 106px !important;
        margin-top: -46px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card-courese .card-body img {
        width: 17rem;
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-left: -21px;
        background-color: #fff;
        margin-top: -43px;
        border-radius: 20px;
    }
    .card-courese {
        width: 17rem;
        margin: 10% auto;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {}