/*
 @media (min-width: 320px) and (max-width: 480px) {
    
  }
@media (min-width: 481px) and (max-width: 767px) { 
  }
@media (min-width: 768px) and (max-width: 1024px) {
    } 
 @media (min-width: 993px) and (max-width: 1200px){
 }

*/


/* start navbar */

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-expand-lg {
        background-color: #FFFFFF !important;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .navbar-expand-lg .nav-item .nav-link {
        text-align: left;
        margin-left: -52px;
    }
    .navbar-expand-lg .nav-item .txt {
        font-style: inherit;
        margin-top: 0px;
        color: #000;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram-active {
        display: none;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar-expand-lg {
        background-color: #FFFFFF !important;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .navbar-expand-lg .nav-item .nav-link {
        text-align: left;
        margin-left: -52px;
    }
    .navbar-expand-lg .nav-item .txt {
        font-style: inherit;
        margin-top: 0px;
        color: #000;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram-active {
        display: none;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-expand-lg {
        background-color: #FFFFFF !important;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .navbar-expand-lg .nav-item .nav-link {
        text-align: left;
        margin-left: -52px;
    }
    .navbar-expand-lg .nav-item .txt {
        font-style: inherit;
        margin-top: 0px;
        color: #000;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram-active {
        display: none;
    }
    .navbar-expand-lg .nav-item .nav-link .parallelogram {
        display: none;
    }
}


/*end navbar */


/*============================================================================================*/


/*start home body */

@media (min-width: 320px) and (max-width: 480px) {
    .slider img {
        width: 100%;
        height: 300px;
    }
    .slider .overlay {
        position: absolute;
        top: 300px;
    }
    .slider .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider .overlay {
        position: absolute;
        top: 200px;
    }
    .slider .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}


/*end navbar */


/*==================================================================================================*/


/*start home card */

@media (min-width: 320px) and (max-width: 480px) {
    .card_project {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 200px;
    }
    .card_project .card {
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 2.5px 2.5px #ddd;
        margin-bottom: 20px;
        margin-left: -12px;
        width: 250px;
        height: 250px;
    }
    .card_project .card .card-body img {
        width: 240px;
        height: 230px;
        margin-right: 12px;
        margin-top: -10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card_project {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -20px;
    }
    .card_project .card {
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 2.5px 2.5px #ddd;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .card_project .card .card-body img {
        margin-right: 0px;
        margin-top: -10px;
    }
}


/*========================================================================================*/


/*start about page */


/*start silder */

@media (min-width: 320px) and (max-width: 480px) {
    .slider-about img {
        width: 100%;
        height: 300px;
    }
    .slider-about .overlay {
        position: absolute;
        top: 300px;
    }
    .slider-about .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider-about .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-about .overlay {
        position: absolute;
        top: 200px;
    }
    .slider-about .overlay .title {
        font-size: 27px;
        font-weight: 900;
        font-family: Cooper;
        color: #2C3E50;
        text-align: center;
    }
    .slider-about .overlay .txt-overlay {
        font-family: Ebrima;
        font-size: 19px;
        top: 100px;
        position: absolute;
        color: #2C3E50;
        margin-left: 2px;
    }
}


/*start card about */

@media (min-width: 320px) and (max-width: 480px) {
    .card_about {
        margin-top: 221px;
    }
    .card_about .card_info {
        margin-top: 5px;
        padding-left: 10px;
    }
    .card_about .card_info .card {
        border: 0px;
        box-shadow: 1px 1px 1px 1px #f5f5e3;
        background-color: #ffffeb;
        border-radius: 20px;
    }
    .card_about .card_info .card .card-body {
        text-align: end;
        font-style: normal;
        font-size: 19px;
        font-family: Hacen Liner XXL;
        padding-left: 23px;
        line-height: 48px;
    }
    .card_about .card_info .card .btn-primary {
        width: 101px;
        background-color: #2C3E50 !important;
        border-radius: 0px 20px 0px 20px;
        color: #ffffff;
    }
    .card_about .card_img .card {
        border: 0px;
    }
    .card_about .card_img .card .card-body img {
        width: 220px;
        height: 245px;
        margin-top: 32px;
        margin-left: 26px;
    }
    .card_about .card_img2 .card {
        border: 0px;
    }
    .card_about .card_img2 .card .card-body img {
        width: 274px;
    }
    .card_about .card_img2 .card .card-body .img2 img {
        margin-top: 12px;
        margin-left: 0px;
        width: 275px;
        height: 266px;
    }
    .card_about .code_info .card-about-code img {
        width: 350px;
        margin-top: -29px;
        height: 800px;
    }
    .card_about .code_info .card-about-code {
        margin-left: 15px;
        margin-right: 15px;
    }
    .card_about .code_info .card {
        margin-top: -656px;
        width: 202px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: end;
        border: 0px;
        margin-left: 120px;
        background-color: #ffffeb;
        margin-left: 50px;
    }
    .footer-card .info-card {
        width: 290px;
        margin-right: 72px;
        float: right;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 8px;
        margin-top: 19px;
        border-radius: 27px;
        float: right;
        margin-left: -2px;
        position: absolute;
    }
    .card_about .code_info .logo img {
        margin-top: -10px;
        width: 318px;
        margin-left: 0px;
        height: 315px;
        padding-left: 10px;
        padding-right: 10px;
    }
}